<h1>Bem-vindos ao universo de Star Wars</h1>
<h3>Saiba mais sobre cada personagem abaixo:</h3>

<% @people.each do |person| %>
  <div class="card-person">
    <div class="card-person-infos">
      <h2><%= person.name %></h2>
    </div>
  </div>
<% end %>
