.card {
  overflow: hidden;
  height: 80px;
  background: #151528;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  font-size: 16px;
  margin: 0;
}

.card-show {
  overflow: hidden;
  background: #151528;
  padding: 20px;
  border-radius: 20px;
}
