<div class="row justify-content-center">
  <h1>
    These are the Star Wars Starships
  </h1>
</div>
<div class="row justify-content-center">
  <% @starships.each do |starship| %>
    <div class="card m-3 col-10 col-md-3 col-lg-2">
      <div>
        <h2><%= link_to starship.name, starship_path(starship) %></h2>
      </div>
    </div>
  <% end %>
</div>
